<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<br>
<table border="1">
    <h2>Admin Page</h2>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Roles</th>
    </tr>
    <tr>
    <tr th:each="user : ${admin}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getLastname()}"></td>
        <td th:each="role:${user.roles}" th:text="${role.getAuthority()}"></td>

        <td>
            <form th:method="GET" th:action="@{/admin/{id}/update_user(id=${user.getId()})}">
                <input type="submit" value="Update"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>

</table>

<form th:action="@{/admin/creat_user}" th:method="GET">
    <button type="submit">New User</button>
</form>

<form th:action="@{/logout}" th:method="GET">
    <button type="submit">Logout</button>
</form>
</body>
</html>