<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/{id}/update_user(id=${user.getId()})}" th:object="${user}">

    <label for="username">Enter new username: </label>
    <input type="text" th:field="*{username}" id="username" required>
    <br/>

    <label for="lastname">Enter new lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname" required>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password" required>
    <br>
    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${role.getName().replace('ROLE_', '') + ' '}"
                   th:value="${role.getId()}"
                   th:field="*{roles}"
            />
        </label>
    </p>

    <input type="submit" value="Update user!">
</form>
<br>

<form th:action="@{/admin}" th:method="GET">
    <button type="submit">All user</button>
</form>
</body>
</html>